.l-with-sidebar {
    .f-row();
    gap: @spacing-1;

    &>section {
        .width-content();
    }

    &>aside {
        .f-col-stretch();
        .bordered();
        background-color: var(--block-section);
        padding: @spacing-half 0;
        border-radius: @radius-1;
        flex: 1;
        height: fit-content;
        min-width: 17rem;

        &>div {
            .f-row-center();
            padding: @spacing-half @spacing-1;
        }
    }

    @media only screen and (max-width: (@screen-sidebar-limit + @spacing-4)) {
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        overflow-x: scroll;
        overflow-y: hidden;

        &>* {
            transition: min-width 200ms;
            scroll-snap-align: start;
            min-width: calc(100vw - @spacing-4) !important;
        }

        &>aside {
            margin-right: @spacing-1;
        }
    }
}
