html,
body {
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    .--font-title();
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 0.75rem;
}

b {
    font-weight: 700;
}

p {
    // Make paragraphs more readable
    line-height: 1.25;
    overflow-wrap: break-word;
    hyphens: auto;
}

em {
    color: var(--text-inactive);
    font-style: normal;
}

hr {
    --height: 2px;
    background-color: var(--color);
    margin: 0;
    min-height: var(--height);
    max-height: var(--height);
    opacity: 0.33;
    border: none;
    flex: 1;

    &.type-soft {
        opacity: 0.15;
    }

    &.type-bar {
        --height: 1rem;
        min-width: 2px;
        max-width: 2px;
    }

    &.type-bullet {
        --height: 0.25rem;
        min-width: 0.25rem;
        max-width: 0.25rem;
        border-radius: 100%;
        opacity: 1;
    }
}

a {
    color: inherit;
    text-decoration: underline;
    text-decoration-color: var(--text-foreground);
    text-decoration-thickness: 2px;

    &:hover,
    &:focus {

        &.is-highlight,
        .is-highlight {
            text-decoration: underline;
            text-decoration-color: var(--text-accent);
            text-decoration-thickness: 2px;
        }
    }

    &:focus {
        color: var(--text-accent);
        outline: none;
    }

    &[href=""] {

        &:hover,
        &:focus {

            &.is-highlight,
            .is-highlight {
                text-decoration-color: var(--text-disturbing);
            }
        }

        &:focus {
            color: var(--text-disturbing);
        }
    }
}

// HTMX:

.is-loading {
    transition: opacity 0.2s;
}

.htmx-request .is-loading {
    opacity: 0.2;
}
