{{ define "index" }}
<pkg:root :title="Browse" :searchbar="false">
    <pkg:heading class="%s --centered --width-content">
        <h1>Browse packs</h1>
    </pkg:heading>

    <pkg:with-sidebar class="%s --width-max">
        <section class="l-col type-sections" id="browse_packs" hx-trigger="manual-reload" hx-target="#htmx-packs"
            hx-swap="innerHTML">
            <header class="l-row">
                <pkg:searchbar class="%s --flex" />
                <pkg:select :id="sort" :icon="eyecons/sort">
                    <option value="trending">Trending</option>
                    <option value="downloads">Downloads</option>
                    <option value="alphabetically">Alphabetically</option>
                    <option value="newest">Newest</option>
                </pkg:select>
            </header>
            <div id="js-filters" class="l-row --wrap">
                <template>
                    <button class="w-button type-tag type-include">
                        <pkg:icon :icon="eyecons/sort" :size="0.75" />
                        <span class="js-label"></span>
                        <pkg:icon :icon="eyecons/cross" :size="0.75" />
                    </button>
                </template>
            </div>
            <div id="htmx-packs" class="l-inherit on-loading">
                {{ template "browse_packs" . }}
            </div>
        </section>

        <aside>
            <div class="o-title">
                <pkg:icon :icon="eyecons/sort" />
                <b>Categories</b>
            </div>
            <pkg:graph>
                {{ $last := .CategoryLast }}
                {{ range $i, $a := .Categories }}
                <div class="o-graph-node">
                    {{ if eq $i 0 }}
                    <pkg:icon :icon="eyecons/node-down" :size="2" class="%s type-indicator" />
                    {{ else if eq $i $last }}
                    <pkg:icon :icon="eyecons/node-up" :size="2" class="%s type-indicator" />
                    {{ else }}
                    <pkg:icon :icon="eyecons/node-up-down" :size="2" class="%s type-indicator" />
                    {{ end }}
                    <pkg:filter class="%s --flex" data-param="category" data-item="{{ $a }}">
                        {{ $a }}
                    </pkg:filter>
                </div>
                {{ end }}
            </pkg:graph>
            <hr />
            <div class="o-title">
                <pkg:icon :icon="eyecons/file" />
                <b>Versions</b>
            </div>
            <pkg:graph class="%s type-limited">
                {{ $last := .VersionLast }}
                {{ range $i, $a := .Versions }}
                {{ $len := len $a.Snapshots }}
                {{ if eq $len 0 }}
                <div class="o-graph-node">
                    {{ if eq $i 0 }}
                    <pkg:icon :icon="eyecons/node-down" :size="2" class="%s type-indicator" />
                    {{ else if eq $i $last }}
                    <pkg:icon :icon="eyecons/node-up" :size="2" class="%s type-indicator" />
                    {{ else }}
                    <pkg:icon :icon="eyecons/node-up-down" :size="2" class="%s type-indicator" />
                    {{ end }}
                    <pkg:filter class="%s --flex" data-param="version" data-item="{{ $a }}">
                        {{ $a.Version }}
                    </pkg:filter>
                </div>
                {{ else }}
                <div>
                    <details>
                        <summary class="o-graph-node">
                            {{ if eq $i 0 }}
                            <pkg:icon :icon="eyecons/node-down" :size="2" class="%s type-indicator" />
                            {{ else if eq $i $last }}
                            <pkg:icon :icon="eyecons/node-up" :size="2" class="%s type-indicator" />
                            {{ else }}
                            <pkg:icon :icon="eyecons/node-up-down" :size="2" class="%s type-indicator" />
                            {{ end }}
                            <pkg:filter class="%s --flex" data-param="version" data-item="{{ $a }}">
                                {{ $a.Version }}
                                <em>+{{ $len }}</em>
                            </pkg:filter>
                            <pkg:icon :icon="eyecons/angle_down" :size="1" class="%s type-angle" />
                        </summary>
                        <pkg:graph class="%s type-branch">
                            {{ $last := $a.SnapshotLast }}
                            {{ range $i, $b := $a.Snapshots }}
                            <div class="o-graph-node">
                                <pkg:icon :icon="eyecons/node-up-down-right" :size="2" class="%s type-indicator" />
                                <pkg:icon :icon="eyecons/node-left" :size="2" class="%s type-indicator" />
                                <pkg:filter class="%s --flex" data-param="version" data-item="{{ $b }}">
                                    {{ $b }}
                                </pkg:filter>
                            </div>
                            {{ end }}
                        </pkg:graph>
                    </details>
                </div>
                {{ end }}
                {{ end }}
            </pkg:graph>
            <hr />
            <div class="o-title">
                <pkg:icon :icon="eyecons/star" />
                <b>Badges</b>
            </div>
            <pkg:graph>
                <div class="o-graph-node">
                    <pkg:icon :icon="eyecons/node-down" :size="2" class="%s type-indicator" />
                    <pkg:filter class="%s --flex" data-param="badge" data-item="smithed">
                        Made by Smithed
                    </pkg:filter>
                </div>
                <div class="o-graph-node">
                    <pkg:icon :icon="eyecons/node-up-down" :size="2" class="%s type-indicator" />
                    <pkg:filter class="%s --flex" data-param="badge" data-item="lang">
                        Localization support
                    </pkg:filter>
                </div>
                <div class="o-graph-node">
                    <pkg:icon :icon="eyecons/node-up" :size="2" class="%s type-indicator" />
                    <pkg:filter class="%s --flex" data-param="badge" data-item="resourcepack">
                        Resource pack
                    </pkg:filter>
                </div>
            </pkg:graph>
        </aside>
    </pkg:with-sidebar>
</pkg:root>
{{ end }}
