.l-row,
.l-row>.l-inherit {
    .--flex-row(1);

    &.type-center {
        justify-content: center;
    }

    @media only screen and (max-width: (30rem + 4rem)) {
        &.type-adaptive {
            flex-direction: column;
            justify-content: stretch;
        }
    }

    @media only screen and (max-width: (16rem + 4rem)) {
        & {
            flex-direction: column;
            justify-content: stretch;
        }
    }
}
