.l-graph {
    .--flex-col-stretch(0);
    padding: 0 1rem;

    &.type-limited {
        min-height: 10rem;
        max-height: 20rem;
        overflow-y: auto;
    }

    details {
        transition: max-height 0.2s ease-in-out, background-color 0.2s ease-in-out;
        border-radius: 0.5rem;
        max-height: 2rem;
        overflow: hidden;

        summary {
            .--interactive();
            border-radius: 0.5rem;

            label {
                .--flex-row-center(0);
                cursor: pointer;
                flex: 1;
            }

            &:hover,
            &:focus {
                --color: var(--text-foreground);
            }

            &:focus {
                outline: none;
                color: var(--text-accent);
                --color: var(--text-accent);
            }
        }

        .l-graph {
            padding: 0;
        }
    }

    input:checked+details {
        max-height: 10rem;
        background-color: var(--block-section);
        --color: var(--text-foreground);

        .type-angle {
            transform: scaleY(-1);
        }
    }

    .o-graph-node {
        .--flex-row-center(0);
        position: relative;
        @height: 0.875rem;
        --color: var(--block-border);

        .type-indicator {
            color: var(--color);
        }

        .type-angle {
            padding: 0 1rem;
        }
    }
}
