@screen-wide: 70rem;
@screen-content: 50rem;
@screen-portrait: 40rem;
@screen-min: 24rem;

@spacing-half: 0.5rem;
@spacing-1: 1rem;
@spacing-2: 2rem;
@spacing-4: 4rem;

@radius-1: 1rem;
@radius-half: 0.5rem;

.width-content {
    width: min(100vw - @spacing-4, @screen-content);
}

.width-wide {
    width: min(100vw - @spacing-4, @screen-wide);
}

.width-full {
    width: 100%;
}

.font-text {
    font-family: 'Lexend', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

.font-title {
    font-family: 'Rubik', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

.font-mono {
    font-family: 'JetBrains Mono', monospace;
}

.reset {
    border: none;
    font: inherit;
    color: inherit;
}

.f-col {
    display: flex;
    flex-direction: column;
}

.f-col-center {
    .f-col();
    align-items: center;
}

.f-col-stretch {
    .f-col();
    align-items: stretch;
}

.f-col-items {
    .f-col();
    align-items: center;
    gap: @spacing-half;
}

.f-row {
    display: flex;
    flex-direction: row
}

.f-row-center {
    .f-row();
    align-items: center;
}

.f-row-middle {
    .f-row();
    align-items: center;
    justify-content: center;
}

.f-row-block {
    .f-row();
    align-items: center;
    padding: @spacing-half @spacing-1;
    gap: @spacing-1;
    border-radius: @radius-1;
}

.highlight {
    text-decoration: underline;
    text-decoration-color: var(--palette-accent-text);
    text-decoration-thickness: 2px;
}

.interactive {
    transition: background-color 0.2s;
    cursor: pointer;

    &:hover,
    &:focus {
        background-color: var(--scheme-hover);
    }

    &:focus {
        .focus();
    }
}

.focus {
    outline: 2px solid var(--scheme-foreground);
}

.bordered {
    border: 1px solid var(--scheme-border);
}

@import "reset.less";
@import "theme.less";
@import "widgets.less";
@import "containers.less";
@import "objects.less";
// @import "mods.less";
// @import "misc.less";

body {
    .font-text();
    .f-col-center();
    background-color: var(--scheme-background);
    color: var(--scheme-foreground);
    gap: @spacing-4;
    font-weight: 400;
}

body>header {
    .width-wide();
    .f-row-center();
    gap: @spacing-2;
    padding: @spacing-half 0;

    @media only screen and (max-width: (@screen-content + @spacing-4)) {
        gap: @spacing-1;
    }

    @media only screen and (max-width: (@screen-portrait + @spacing-4)) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: @spacing-1;
        grid-template-areas:
            "logotype logotype logotype logotype"
            "browse articles weld inbox"
            "searchbar searchbar profile profile";
    }

    @media only screen and (max-width: (@screen-min + @spacing-4)) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: @spacing-1;
        grid-template-areas:
            "logotype logotype"
            "browse articles"
            "weld inbox"
            "profile profile"
            "searchbar searchbar";
    }
}

body>main {
    .width-wide();
    .f-col-center();
    margin: 0 auto auto auto;
    font-weight: 300;
    gap: @spacing-4;
}

body>footer {
    .f-col-center();
    width: calc(100% - 4rem);
    padding: @spacing-4 @spacing-2;
    gap: @spacing-4;
    background-color: var(--scheme-shade);

    section {
        .f-col-items();
    }

    &>div {
        .width-content();
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-template-rows: 1fr;
        gap: @spacing-4;

        section {
            gap: @spacing-1;
        }

        @media only screen and (max-width: (@screen-portrait + @spacing-4)) {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr;
        }
    }
}

// Modifiers

.is-center {
    text-align: center;
}

.is-flex {
    flex: 1;
}

@keyframes spinner {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.is-spinner {
    animation: 1s linear infinite spinner;
}

// General adaptive design

@media only screen and (max-width: (@screen-wide + @spacing-4)) {
    .a-hide-wide {
        display: none !important;
    }
}

@media only screen and (max-width: (@screen-content + @spacing-4)) {
    .a-hide-content {
        display: none !important;
    }

    .l-grid-2 {
        grid-template-columns: 1fr;
        gap: @spacing-2;

        &>* {
            width: calc(100% - 2rem);
            max-width: 24.5rem;
            margin: 0 auto;
        }
    }
}

@media only screen and (max-width: (@screen-portrait + @spacing-4)) {
    .a-hide-portrait {
        display: none !important;
    }

    .a-show-portrait {
        display: block !important;
    }

    .a-show-portrait-flex {
        display: flex !important;
    }
}

@media only screen and (max-width: (@screen-min + @spacing-4)) {
    .a-hide-min {
        display: none !important;
    }
}
