@screen-wide: 70rem;
@screen-content: 50rem;
@screen-tablet: 40rem;
@screen-min: 24rem;

@spacing-half: 0.5rem;
@spacing-1: 1rem;
@spacing-2: 2rem;
@spacing-4: 4rem;

@radius-1: 1rem;
@radius-half: 0.5rem;

.width-content {
    width: min(100vw - @spacing-4, @screen-content);
}

.width-wide {
    width: min(100vw - @spacing-4, @screen-wide);
}

.width-full {
    width: 100%;
}

.f-col {
    display: flex;
    flex-direction: column;
}

.f-col-center {
    .f-col();
    align-items: center;
}

.f-col-stretch {
    .f-col();
    align-items: stretch;
}

.f-col-items {
    .f-col();
    align-items: center;
    gap: @spacing-half;
}

.f-row {
    display: flex;
    flex-direction: row
}

.f-row-center {
    .f-row();
    align-items: center;
}

.f-row-middle {
    .f-row();
    align-items: center;
    justify-content: center;
}

.bordered {
    border: 1px solid var(--block-border);
}

.reset {
    border: none;
    font: inherit;
    color: inherit;
}

.focus {
    outline: 2px solid var(--text-foreground);
}

.interactive {
    transition: background-color 0.2s;
    cursor: pointer;

    &:hover,
    &:focus {
        background-color: var(--block-hover);
    }

    &:focus {
        .focus();
    }
}

@import "./normalize.less";
@import "./mixins.less";
@import "./themes.less";
@import "./widgets.less";

html,
body {
    height: 100%;
}

h1,
h2,
h3,
h4 {
    .font-title();
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 0.75rem;
}

b {
    font-weight: 700;
}

p {
    // Make paragraphs more readable
    line-height: 1.25;
    overflow-wrap: break-word;
    hyphens: auto;
}

em {
    color: var(--text-inactive);
    font-style: normal;
}

hr {
    --height: 2px;
    margin: 0;
    border: none;
    background-color: var(--color);
    flex: 1;
    min-height: var(--height);
    max-height: var(--height);
    opacity: 0.33;

    &.type-soft {
        opacity: 0.15;
    }

    &.type-bar {
        min-width: 2px;
        max-width: 2px;
        --height: 1rem;
    }

    &.type-bullet {
        --height: 0.25rem;
        min-width: 0.25rem;
        max-width: 0.25rem;
        border-radius: 100%;
        opacity: 1;
    }
}

.--centered {
    text-align: center;
}

.--flex {
    flex: 1;
}

.--wrap {
    flex-wrap: wrap;
}
