.l-heading {
    .f-col-center();
    gap: @spacing-half;
}

.l-separator {
    .f-row-center();
    gap: @spacing-half;
}

.l-grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: @spacing-1;
}
