.theme-default {
    --block-shaded: rgb(0, 0, 0);
    --block-background: rgb(18, 18, 18);
    --block-section: rgba(255, 255, 255, 0.06);
    --block-hover: rgba(255, 255, 255, 0.12);
    --block-border: rgb(66, 66, 66);

    --text-foreground: rgb(255, 255, 255);
    --text-inactive: rgba(255, 255, 255, 0.4);

    --block-accent: rgb(27, 72, 196);
    --text-accent: rgb(31, 174, 255);
    --field-accent: rgba(27, 72, 196, 0.16);

    --block-secondary: rgb(176, 0, 191);
    --text-secondary: rgb(240, 65, 255);
    --field-secondary: rgba(176, 0, 191, 0.16);

    --block-warning: rgb(218, 157, 0);
    --text-warning: rgb(255, 201, 64);
    --field-warning: rgba(218, 157, 0, 0.16);

    --block-success: rgb(0, 143, 72);
    --text-success: rgb(45, 203, 82);
    --field-success: rgba(0, 143, 72, 0.16);

    --block-disturbing: rgb(196, 27, 72);
    --text-disturbing: rgb(255, 79, 79);
    --field-disturbing: rgba(196, 27, 72, 0.16);

    --color: var(--text-foreground);
    --size: 1rem;
}
