a {
    color: inherit;
    text-decoration: underline;
    text-decoration-color: var(--text-foreground);
    text-decoration-thickness: 2px;

    &:hover,
    &:focus {

        &.on-highlight,
        .on-highlight {
            text-decoration: underline;
            text-decoration-color: var(--text-accent);
            text-decoration-thickness: 2px;
        }
    }

    &:focus {
        color: var(--text-accent);
        outline: none;
    }

    &[href=""] {

        &:hover,
        &:focus {

            &.on-highlight,
            .on-highlight {
                text-decoration-color: var(--text-disturbing);
            }
        }

        &:focus {
            color: var(--text-disturbing);
        }
    }
}

.w-input {
    .f-row-center();
    position: relative;

    input {
        .reset();
        background-color: var(--block-section);
        color: inherit;
        padding: (@spacing-half - 0.125rem) @spacing-1 (@spacing-half - 0.125rem) (@spacing-1 * 3);
        border-radius: @radius-half;
        line-height: 1;
        min-width: 2rem;
        width: 100%;
        font-weight: 400;
        transition: background-color 0.2s;

        &::placeholder {
            opacity: 0.5;
        }

        &:hover {
            background-color: var(--block-hover);
        }

        &:focus {
            .focus();
        }
    }

    &>svg:first-of-type {
        position: absolute;
        left: @spacing-1;
    }

    .w-dropdown {
        left: 50%;
        transform: translateX(-50%);
    }

    &:has(input:focus) .w-dropdown {
        visibility: visible;
    }
}
