.on-loading {
    transition: opacity 0.2s;
}

.htmx-request .on-loading {
    opacity: 0.2;
}

a {
    color: inherit;
    text-decoration: underline;
    text-decoration-color: var(--text-foreground);
    text-decoration-thickness: 2px;

    &:hover,
    &:focus {

        &.on-highlight,
        .on-highlight {
            text-decoration: underline;
            text-decoration-color: var(--text-accent);
            text-decoration-thickness: 2px;
        }
    }

    &:focus {
        color: var(--text-accent);
        outline: none;
    }

    &[href=""] {

        &:hover,
        &:focus {

            &.on-highlight,
            .on-highlight {
                text-decoration-color: var(--text-disturbing);
            }
        }

        &:focus {
            color: var(--text-disturbing);
        }
    }
}

.w-input {
    .f-row-center();
    position: relative;

    input {
        .reset();
        background-color: var(--block-section);
        color: inherit;
        padding: (@spacing-half - 0.125rem) @spacing-1 (@spacing-half - 0.125rem) (@spacing-1 * 3);
        border-radius: @radius-half;
        line-height: 1;
        min-width: 2rem;
        width: 100%;
        font-weight: 400;
        transition: background-color 0.2s;

        &::placeholder {
            opacity: 0.5;
        }

        &:hover {
            background-color: var(--block-hover);
        }

        &:focus {
            .focus();
        }
    }

    &>svg:first-of-type {
        position: absolute;
        left: @spacing-1;
    }

    .w-dropdown {
        left: 50%;
        transform: translateX(-50%);
    }

    &:has(input:focus) .w-dropdown {
        visibility: visible;
    }
}

.l-col,
.l-col>.l-inherit {
    .f-col-stretch();
    gap: @spacing-1;

    &.type-center {
        justify-content: center;
    }

    &.type-sections {
        nav a {
            background-color: var(--block-section);
            padding: @spacing-half @spacing-1;
            border-radius: @radius-1;
            text-decoration: none;
            font-weight: 400;

            &.--selected {
                background-color: var(--text-foreground);
                color: var(--block-shaded);
            }

            .interactive();

            &:hover,
            &:focus {
                color: var(--text-foreground);
            }
        }
    }
}

.l-row {
    .f-row();
    gap: @spacing-1;

    &.type-center {
        justify-content: center;
    }
}

.l-graph {
    .f-col-stretch();
    padding: 0 @spacing-1;

    &>div {
        .f-row-center();
        position: relative;
        padding: @spacing-half 0;
        @height: 0.875rem;
        --color: var(--block-border);

        .type-indicator {
            color: var(--color);
        }

        &:not(:first-of-type)::before {
            content: "";
            position: absolute;
            top: 0;
            left: calc(0.5rem - 1px);
            width: 2px;
            height: @height;
            background-color: var(--color);
        }

        &:not(:last-of-type)::after {
            content: "";
            position: absolute;
            top: 1.625rem;
            left: calc(0.5rem - 1px);
            width: 2px;
            height: @height;
            background-color: var(--color);
        }
    }
}
