.width-content {
  width: min(96vw, 50rem);
}
.width-wide {
  width: min(96vw, 70rem);
}
.font-text {
  font-family: 'Lexend', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}
.font-title {
  font-family: 'Rubik', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}
.font-mono {
  font-family: 'JetBrains Mono', monospace;
}
.reset {
  border: none;
  font: inherit;
  color: inherit;
}
.f-col {
  display: flex;
  flex-direction: column;
}
.f-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.f-col-stretch {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.f-col-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.f-row {
  display: flex;
  flex-direction: row;
}
.f-row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.f-row-middle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.f-row-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem 1rem;
  gap: 1rem;
  border-radius: 1rem;
}
.highlight {
  text-decoration: underline;
  text-decoration-color: var(--palette-accent-text);
  text-decoration-thickness: 2px;
}
.interactive {
  transition: background-color 0.2s;
  cursor: pointer;
}
.interactive:hover,
.interactive:focus {
  background-color: var(--scheme-hover);
}
.interactive:focus {
  outline: 2px solid var(--scheme-foreground);
}
.focus {
  outline: 2px solid var(--scheme-foreground);
}
.bordered {
  border: 1px solid var(--scheme-border);
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  /* My tweaks: */
  color: inherit;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
:root {
  --scheme-shade: #000000;
  --scheme-background: #121212;
  --scheme-card: rgba(255, 255, 255, 0.06);
  --scheme-hover: rgba(255, 255, 255, 0.12);
  --scheme-inactive: rgba(255, 255, 255, 0.33);
  --scheme-border: #424242;
  --scheme-cavity: rgba(0, 0, 0, 0.25);
  --scheme-foreground: #ffffff;
  --palette-accent: #1b48c4;
  --palette-accent-text: #1faeff;
  --palette-accent-block: rgba(27, 72, 196, 0.16);
  --palette-secondary: #b000bf;
  --palette-secondary-text: #b000bf;
  --palette-secondary-block: rgba(176, 0, 191, 0.16);
  --palette-warning: #da9d00;
  --palette-warning-text: #ffc940;
  --palette-warning-block: rgba(218, 157, 0, 0.16);
  --palette-success: #008f48;
  --palette-success-text: #2dcb52;
  --palette-success-block: rgba(0, 143, 72, 0.16);
  --palette-disturbing: #c41b48;
  --palette-disturbing-text: #ff4f4f;
  --palette-disturbing-block: rgba(196, 27, 72, 0.16);
  --color: var(--scheme-foreground);
  --size: 1rem;
}
html,
body {
  height: 100%;
}
h1,
h2,
h3,
h4 {
  font-family: 'Rubik', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.75rem;
}
b {
  font-weight: 700;
}
p {
  line-height: 1.25;
}
em {
  color: var(--scheme-inactive);
}
svg {
  min-width: var(--size);
  min-height: var(--size);
  width: var(--size);
  height: var(--size);
}
hr {
  --height: 2px;
  margin: 0;
  border: none;
  background-color: var(--color);
  flex: 1;
  min-height: var(--height);
  max-height: var(--height);
  opacity: 0.33;
}
hr.type-bar {
  min-width: 2px;
  max-width: 2px;
  --height: 1rem;
}
a[href=""] {
  color: var(--palette-disturbing-text) !important;
  text-decoration-color: var(--palette-disturbing-text) !important;
}
.w-unmarked-link {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
}
.w-unmarked-link:hover,
.w-unmarked-link:focus {
  text-decoration: underline;
  text-decoration-color: var(--palette-accent-text);
  text-decoration-thickness: 2px;
}
.w-unmarked-link:focus {
  outline: none;
  color: var(--palette-accent-text);
}
#logotype {
  gap: 1rem;
}
.w-button {
  border: none;
  font: inherit;
  color: inherit;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem 1rem;
  gap: 1rem;
  border-radius: 1rem;
  transition: background-color 0.2s;
  cursor: pointer;
  background-color: var(--scheme-card);
}
.w-button.type-accent {
  background-color: var(--palette-accent);
}
.w-button:hover,
.w-button:focus {
  background-color: var(--scheme-hover);
}
.w-button:focus {
  outline: 2px solid var(--scheme-foreground);
}
.w-dropdown {
  border: 1px solid var(--scheme-border);
  display: flex;
  flex-direction: column;
  position: absolute;
  visibility: hidden;
  background-color: var(--scheme-shade);
  top: 3rem;
  padding: 1rem;
  border-radius: 1rem;
  z-index: 69;
  min-width: 16rem;
  width: calc(100% - 2rem);
}
.w-dropdown.type-list {
  gap: 0.5rem;
}
.w-dropdown::before {
  content: "";
  position: absolute;
  display: block;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  top: -0.75rem;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-bottom: 0.75rem solid var(--scheme-border);
  z-index: -1;
}
.w-dropdown b {
  font-family: 'JetBrains Mono', monospace;
}
.w-dropdown b,
.w-dropdown em {
  color: var(--palette-success-text);
}
.w-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}
.w-input input {
  border: none;
  font: inherit;
  background-color: var(--scheme-card);
  color: inherit;
  padding: 0.375rem 1rem 0.375rem 3rem;
  border-radius: 0.5rem;
  line-height: 1;
  min-width: 2rem;
  width: 100%;
}
.w-input input::placeholder {
  opacity: 0.5;
}
.w-input input:focus {
  outline: 2px solid var(--scheme-foreground);
}
.w-input > svg:first-of-type {
  position: absolute;
  left: 1rem;
}
.w-input .w-dropdown {
  left: 50%;
  transform: translateX(-50%);
}
.w-input:has(input:focus) .w-dropdown {
  visibility: visible;
}
body {
  font-family: 'Lexend', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--scheme-background);
  color: var(--scheme-foreground);
  gap: 4rem;
  font-weight: 400;
}
body > header {
  width: min(96vw, 70rem);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  padding: 0.5rem 0;
}
body > main {
  width: min(96vw, 70rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto auto auto;
  font-weight: 300;
  gap: 4rem;
}
body > footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 4rem);
  padding: 4rem 2rem;
  gap: 4rem;
  background-color: var(--scheme-shade);
}
body > footer section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
body > footer > div {
  width: min(96vw, 50rem);
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 1fr;
  gap: 4rem;
}
body > footer > div section {
  gap: 1rem;
}
@media only screen and (max-width: 40rem) {
  body > footer > div {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}
.is-center {
  text-align: center;
}
.is-flex {
  flex: 1;
}
