<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta name="viewport" content="user-scalable=yes, initial-scale=1.0, width=device-width" />

    <title>[[ .title ]] — Smithed™</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/favicon.png" />
    <link rel="icon" sizes="48x48" href="/favicon.ico" />
    <link rel="icon" type="image/svg+xml" sizes="all" href="/favicon.svg" />

    <link rel="stylesheet" href="/static/styles.min.css?checksum=[[ ^.checksum ]]" />

    <script src="/static/main.js"></script>
    <mend:if value="[[ ^.filename == browse.html]]">
        <script src="/static/page_browse.js" defer></script>
    </mend:if>
    <mend:if value="[[ ^.filename == index.html]]">
        <script src="/static/page_index.js" defer></script>
    </mend:if>
    <!-- [!] "While the CDN approach is extremely simple, you may want to consider not using CDNs in production" -->
    <script src="https://unpkg.com/htmx.org@2.0.4/dist/htmx.js"
        integrity="sha384-oeUn82QNXPuVkGCkcrInrS1twIxKhkZiFfr2TdiuObZ3n3yIeMiqcRzkIcguaof1" crossorigin="anonymous">
        </script>
</head>


<body class="theme-default">
    <header>
        <a class="w-unmarked-link on-highlight" href="/" style="grid-area: logotype;">
            <mend:include src="../components/smithed.svg" :size="32" @class="is-icon" />
            <h2 class="a-hide-wide">Smithed</h2>
        </a>
        <a class="w-unmarked-link on-highlight" href="/browse" style="grid-area: browse;">
            Browse
        </a>
        <a class="w-unmarked-link on-highlight" href="" style="grid-area: articles;">
            Articles
        </a>
        <a class="w-unmarked-link on-highlight" href="" style="grid-area: weld;">
            Weld
            <mend:include src="../components/icons/popout.svg" @class="is-icon a-hide-content a-show-tablet" />
        </a>
        <mend:if value="[[ .searchbar ]]">
            <pkg:searchbar @style="grid-area: searchbar;">
                <template id="js-searchbar-default">
                    <div>
                        Searches for
                        <em>packs by default</em>
                    </div>
                    <div>
                        <b>@</b>
                        To search for
                        <em>users</em>
                        and
                        <em>teams</em>
                    </div>
                    <div>
                        <b>#</b>
                        To search for
                        <em>bundles</em>
                    </div>
                </template>
                <footer class="w-dropdown type-list">
                </footer>
            </pkg:searchbar>
        </mend:if>
        <mend:unless value="[[ .searchbar ]]">
            <div class="is-flex" style="grid-area: searchbar;"></div>
        </mend:unless>
        <a class="w-unmarked-link on-highlight" href="" style="grid-area: inbox;">
            Inbox
            <mend:include src="../components/icons/notification-unread.svg"
                @class="is-icon a-hide-content a-show-tablet" />
        </a>
        <pkg:accent-button :label="Log in" @style="grid-area: profile;">
            <mend:include src="../components/icons/user.svg" @class="is-icon" />
        </pkg:accent-button>
    </header>
    <!-- ... -->
    <main>
        <mend:slot />
    </main>
    <!-- ... -->
    <footer class="is-center">
        <div>
            <section>
                <h2>
                    ABOUT
                </h2>
                <a class="w-unmarked-link on-highlight" href>
                    About Smithed
                </a>
                <a class="w-unmarked-link on-highlight" href>
                    How to Contribute
                </a>
                <a class="w-unmarked-link on-highlight" href>
                    Donate
                </a>
            </section>
            <section>
                <h2>
                    COMMUNITY
                </h2>
                <a class="w-unmarked-link on-highlight" href>
                    Discord
                </a>
                <a class="w-unmarked-link on-highlight" href>
                    Guidelines
                </a>
                <a class="w-unmarked-link on-highlight" href>
                    Wiki
                </a>
            </section>
            <section>
                <h2>
                    LEGAL
                </h2>
                <a class="w-unmarked-link on-highlight" href>
                    Terms of Use
                </a>
                <a class="w-unmarked-link on-highlight" href>
                    Privacy Policy
                </a>
                <a class="w-unmarked-link on-highlight" href>
                    Cookies
                </a>
            </section>
        </div>
        <section>
            <b>Copyright © 2018-2025 Smithed</b>
            <p>
                <em>Not an official Minecraft product. Not approved by or associated with Mojang Studios</em>
            </p>
        </section>
    </footer>
</body>

</html>
