{{ define "index" }}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="user-scalable=yes, initial-scale=1.0, width=device-width" />
    <title>
        Browse — Smithed™
    </title>
    <link rel="apple-touch-icon" href="/favicon.png" sizes="180x180" />
    <link rel="icon" href="/favicon.ico" sizes="48x48" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" sizes="all" />
    <link rel="stylesheet" href="/static/styles.min.css?checksum=a5e17d0ade85c72b520ea98eaedd7d39" />
    <script src="/static/main.js?checksum=c52533dae198d846681505125844ec7f">
    </script>
    <script src="/static/page_browse.js" defer>
    </script>
    <!-- [!] "While the CDN approach is extremely simple, you may want to consider not using CDNs in production" -->
    <script src="https://unpkg.com/htmx.org@2.0.4/dist/htmx.js" integrity="sha384-oeUn82QNXPuVkGCkcrInrS1twIxKhkZiFfr2TdiuObZ3n3yIeMiqcRzkIcguaof1" crossorigin="anonymous">
    </script>
</head>

<body class="theme-default">
    <header>
        <a class="w-unmarked-link on-highlight" href="/" style="grid-area: logotype;">
            <svg class="w-icon" width="16" height="16" style="--size: 2rem;" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 4 4" fill="currentColor">
                <path transform="matrix(1.3713 0 0 1.3713 -.74255 -.78291)" d="m0.7368 0.88846 0.88662-0.28492a0.49739 0.49739 180 0 1 0.30432-9.22e-6l1.3355 0.42907-1.0396 0.33429z" />
                <path transform="matrix(1.3713 0 0 1.3713 -.74255 -.78291)" d="m0.5415 1.0766v0.48676a0.24264 0.24264 0 0 0 0.16842 0.23109l1.5137 0.48676 7.121e-4 -3.561e-4 1.0657-0.34184a0.24251 0.24251 0 0 0 0.16842-0.23109v-0.48676l-1.2338 0.39133h-3.561e-4l-1.6828-0.5359z" />
                <path d="m1.1792 2.3262v0.51953l1.1284 0.36279 0.56445-0.18115v-0.51953l-0.56445 0.17432-1.1284-0.35596z" opacity=".5" />
                <path transform="matrix(1.3713 0 0 1.3713 -.74255 -.78291)" d="m0.95242 2.7722v0.29839l1.2719 0.40842 0.82325-0.26421v-0.29946l-0.82325 0.25922-1.2719-0.40237z" />
            </svg>
            <h2 class="a-hide-wide">
                Smithed
            </h2>
        </a>
        <a class="w-unmarked-link on-highlight" href="/browse" style="grid-area: browse;">
            Browse
        </a>
        <a class="w-unmarked-link on-highlight" href style="grid-area: articles;">
            Articles
        </a>
        <a class="w-unmarked-link on-highlight" href style="grid-area: weld;">
            Weld
            <svg class="w-icon" width="16" height="16" style="--size: 1rem;" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 16 16" fill="currentColor">
                <path d="m6 2c-2.216 0-4 1.784-4 4v4c0 2.216 1.784 4 4 4h4c2.216 0 4-1.784 4-4h-2c0 1.108-0.892 2-2 2h-4c-1.108 0-2-0.892-2-2v-4c0-1.108 0.892-2 2-2v-2zm2 0v2h2c0.17886 0 0.35087 0.02667 0.51562 0.070312l-3.2227 3.2227a1 1 0 0 0 0 1.4141 1 1 0 0 0 1.4141 0l3.2227-3.2227c0.043642 0.16476 0.070312 0.33677 0.070312 0.51562v2h2v-2c0-2.216-1.784-4-4-4h-2z" />
            </svg>
        </a>
        <div class="--flex" style="grid-area: searchbar;">
        </div>
        <a class="w-unmarked-link on-highlight" href style="grid-area: inbox;">
            Inbox
            <svg class="w-icon a-hide-content a-show-tablet" width="16" height="16" style="--size: 1rem;" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 16 16" fill="currentColor">
                <path d="m7 0.0019531v2.0996c-2.2746 0.46688-4 2.4912-4 4.8984v1 1.5293l-0.93164 1.0039a0.87297 0.87297 0 0 0 0.64062 1.4668h10.705a0.82843 0.82843 0 0 0 0.58594-1.4141l-1-1v-1.5859-0.11914c-0.32021 0.08441-0.65574 0.12891-1 0.12891s-0.67979-0.044496-1-0.12891v0.11914 2h-6v-2-1c0-1.6687 1.3313-3 3-3 0.0024798-0.99489 0.38196-1.9115 1-2.6152v-1.3828h-2zm5 2.0078a2 2 0 0 0-2 2 2 2 0 0 0 2 2 2 2 0 0 0 2-2 2 2 0 0 0-2-2zm-6 11.99a2 2 0 0 0 1 1.7324 2 2 0 0 0 2 0 2 2 0 0 0 1-1.7324h-4z" />
            </svg>
        </a>
        <a class="w-button type-accent" href style="grid-area: profile;">
            <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 16 16" fill="currentColor">
                <path d="m14 15c0 0.55228-0.44772 1-1 1s-1-0.44772-1-1v-3c0-0.554-0.446-1-1-1h-6c-0.554 0-1 0.446-1 1v3c0 0.55228-0.44772 1-1 1s-1-0.44772-1-1v-3c0-1.662 1.338-3 3-3h6c1.662 0 3 1.338 3 3zm-4-11a2 2 0 0 1-2 2 2 2 0 0 1-2-2 2 2 0 0 1 2-2 2 2 0 0 1 2 2zm2 0a4 4 0 0 1-4 4 4 4 0 0 1-4-4 4 4 0 0 1 4-4 4 4 0 0 1 4 4z" fill-rule="evenodd" />
            </svg>
            Log in
        </a>
    </header>
    <!-- ... -->
    <main>
        <section class="l-heading --centered width-content">
            <h1>
                Browse packs
            </h1>
        </section>
        <section class="l-with-sidebar width-wide">
            <section class="l-col type-sections">
                <header class="l-row">
                    <div class="w-input --flex" style="grid-area: searchbar;">
                        <svg class="w-icon" width="16" height="16" style="--size: 1rem;" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 16 16" fill="currentColor">
                            <path d="m10 7a3 3 0 0 1-3 3 3 3 0 0 1-3-3 3 3 0 0 1 3-3 3 3 0 0 1 3 3zm-3-5a5 5 0 0 0-5 5 5 5 0 0 0 5 5 5 5 0 0 0 2.7539-0.83203l2.5391 2.5391c0.39052 0.39052 1.0235 0.39052 1.4141 0 0.39052-0.39052 0.39052-1.0235 0-1.4141l-2.5391-2.5391a5 5 0 0 0 0.83203-2.7539 5 5 0 0 0-5-5z" fill-rule="evenodd" />
                        </svg>
                        <input id="search" type="text" placeholder="Search..." onchange="onSearchBarChanged(this)" />
                    </div>
                    <script>
                        const searchParams = new URLSearchParams(self.location.search); document.getElementById("search").value = decodeURIComponent(searchParams.get("search") || "");
                    </script>
                    <div id="js-id-select-sort" class="w-select">
                        <template>
                            <button class="w-button type-transparent">
                                <span class="js-item --flex">
                                    —
                                </span>
                                <svg class="w-icon js-indicator-unchecked" width="16" height="16" style="--size: 1rem;" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 16 16" fill="currentColor">
                                    <path d="m8 2a6 6 0 0 0-6 6 6 6 0 0 0 6 6 6 6 0 0 0 6-6 6 6 0 0 0-6-6zm0 2a4 4 0 0 1 4 4 4 4 0 0 1-4 4 4 4 0 0 1-4-4 4 4 0 0 1 4-4z" />
                                </svg>
                                <svg class="w-icon js-indicator-checked" width="16" height="16" style="--size: 1rem;" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 16 16" fill="currentColor">
                                    <path d="m8 2a6 6 0 0 0-6 6 6 6 0 0 0 6 6 6 6 0 0 0 6-6 6 6 0 0 0-6-6zm0 2a4 4 0 0 1 4 4 4 4 0 0 1-4 4 4 4 0 0 1-4-4 4 4 0 0 1 4-4zm0 2a2 2 0 0 0-2 2 2 2 0 0 0 2 2 2 2 0 0 0 2-2 2 2 0 0 0-2-2z" />
                                </svg>
                            </button>
                        </template>
                        <select hidden>
                            <option value="trending">
                                Trending
                            </option>
                            <option value="downloads">
                                Downloads
                            </option>
                            <option value="alphabetically">
                                Alphabetically
                            </option>
                            <option value="newest">
                                Newest
                            </option>
                        </select>
                        <button class="w-button js-button">
                            <svg class="w-icon" width="16" height="16" style="--size: 1rem;" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 16 16" fill="currentColor">
                                <path d="m3 3c-0.554 0-1 0.446-1 1s0.446 1 1 1h10c0.554 0 1-0.446 1-1s-0.446-1-1-1h-10zm0 4c-0.554 0-1 0.446-1 1s0.446 1 1 1h7c0.554 0 1-0.446 1-1s-0.446-1-1-1h-7zm0 4c-0.554 0-1 0.446-1 1s0.446 1 1 1h4c0.554 0 1-0.446 1-1s-0.446-1-1-1h-4z" />
                            </svg>
                            <span class="js-selected --flex">
                                —
                            </span>
                            <svg class="w-icon type-indicator" width="16" height="16" style="--size: 1rem;" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 16 16" fill="currentColor">
                                <path d="m3.7082 5.292c-0.39173-0.39174-1.0243-0.39174-1.416 0-0.39174 0.39174-0.39174 1.0243 0 1.416l5.707 5.7051 5.707-5.7051c0.39174-0.39174 0.39174-1.0243 0-1.416-0.39173-0.39174-1.0243-0.39174-1.416 0l-4.291 4.293z" />
                            </svg>
                        </button>
                        <footer>
                        </footer>
                    </div>
                    <script>
                        new SelectWidget(document.getElementById("js-id-select-sort")).load()
                    </script>
                </header>
                <nav class="l-row type-center">
                    {{ range .Pages }} {{ if .IsSelected }}
                    <a class="on-highlight --selected" href="{{ .Href }}">
                        {{ .Label }}
                    </a>
                    {{ else }}
                    <a class="on-highlight" href="{{ .Href }}">
                        {{ .Label }}
                    </a>
                    {{ end }} {{ end }}
                </nav>
                <section class="l-grid type-2">
                    {{ range .Cards }} {{ template "pack_card" . }} {{ end }}
                </section>
                <nav class="l-row type-center">
                    {{ range .Pages }} {{ if .IsSelected }}
                    <a class="on-highlight --selected" href="{{ .Href }}">
                        {{ .Label }}
                    </a>
                    {{ else }}
                    <a class="on-highlight" href="{{ .Href }}">
                        {{ .Label }}
                    </a>
                    {{ end }} {{ end }}
                </nav>
            </section>
            <aside>
            </aside>
        </section>
    </main>
    <!-- ... -->
    <footer class="--centered">
        <div>
            <section>
                <h2>
                    ABOUT
                </h2>
                <a class="w-unmarked-link on-highlight" href>
                    About Smithed
                </a>
                <a class="w-unmarked-link on-highlight" href>
                    How to Contribute
                </a>
                <a class="w-unmarked-link on-highlight" href>
                    Donate
                </a>
            </section>
            <section>
                <h2>
                    COMMUNITY
                </h2>
                <a class="w-unmarked-link on-highlight" href>
                    Discord
                </a>
                <a class="w-unmarked-link on-highlight" href>
                    Guidelines
                </a>
                <a class="w-unmarked-link on-highlight" href>
                    Wiki
                </a>
            </section>
            <section>
                <h2>
                    LEGAL
                </h2>
                <a class="w-unmarked-link on-highlight" href>
                    Terms of Use
                </a>
                <a class="w-unmarked-link on-highlight" href>
                    Privacy Policy
                </a>
                <a class="w-unmarked-link on-highlight" href>
                    Cookies
                </a>
            </section>
        </div>
        <section>
            <b>
                Copyright © 2018-2025 Smithed
            </b>
            <p>
                <em>
                    Not an official Minecraft product. Not approved by or associated with Mojang Studios
                </em>
            </p>
        </section>
    </footer>
</body>

</html>
{{ end }}
