{{ define "index" }}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="user-scalable=yes, initial-scale=1.0, width=device-width" />
    <title>
        Home — Smithed™
    </title>
    <link rel="apple-touch-icon" href="/favicon.png" sizes="180x180" />
    <link rel="icon" href="/favicon.ico" sizes="48x48" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" sizes="all" />
    <link rel="stylesheet" href="/static/styles.min.css?checksum=1d49647cf727ac84eb120f6bae601bb7" />
    <script src="/static/main.js?checksum=03c10eeda93c4d09aeeb345dde58c344">
    </script>
    <script src="/static/page_index.js" defer>
    </script>
    <!-- [!] "While the CDN approach is extremely simple, you may want to consider not using CDNs in production" -->
    <script src="https://unpkg.com/htmx.org@2.0.4/dist/htmx.js" integrity="sha384-oeUn82QNXPuVkGCkcrInrS1twIxKhkZiFfr2TdiuObZ3n3yIeMiqcRzkIcguaof1" crossorigin="anonymous">
    </script>
</head>

<body class="theme-default">
    <header>
        <a class="w-unmarked-link on-highlight" href="/" style="grid-area: logotype;">
            <svg class="w-icon" width="16" height="16" style="--size: 2rem;" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 4 4" fill="currentColor">
                <path transform="matrix(1.3713 0 0 1.3713 -.74255 -.78291)" d="m0.7368 0.88846 0.88662-0.28492a0.49739 0.49739 180 0 1 0.30432-9.22e-6l1.3355 0.42907-1.0396 0.33429z" />
                <path transform="matrix(1.3713 0 0 1.3713 -.74255 -.78291)" d="m0.5415 1.0766v0.48676a0.24264 0.24264 0 0 0 0.16842 0.23109l1.5137 0.48676 7.121e-4 -3.561e-4 1.0657-0.34184a0.24251 0.24251 0 0 0 0.16842-0.23109v-0.48676l-1.2338 0.39133h-3.561e-4l-1.6828-0.5359z" />
                <path d="m1.1792 2.3262v0.51953l1.1284 0.36279 0.56445-0.18115v-0.51953l-0.56445 0.17432-1.1284-0.35596z" opacity=".5" />
                <path transform="matrix(1.3713 0 0 1.3713 -.74255 -.78291)" d="m0.95242 2.7722v0.29839l1.2719 0.40842 0.82325-0.26421v-0.29946l-0.82325 0.25922-1.2719-0.40237z" />
            </svg>
            <h2 class="a-hide-wide">
                Smithed
            </h2>
        </a>
        <a class="w-unmarked-link on-highlight" href="/browse" style="grid-area: browse;">
            Browse
        </a>
        <a class="w-unmarked-link on-highlight" href style="grid-area: articles;">
            Articles
        </a>
        <a class="w-unmarked-link on-highlight" href style="grid-area: weld;">
            Weld
            <svg class="w-icon" width="16" height="16" style="--size: 1rem;" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 16 16" fill="currentColor">
                <path d="m6 2c-2.216 0-4 1.784-4 4v4c0 2.216 1.784 4 4 4h4c2.216 0 4-1.784 4-4h-2c0 1.108-0.892 2-2 2h-4c-1.108 0-2-0.892-2-2v-4c0-1.108 0.892-2 2-2v-2zm2 0v2h2c0.17886 0 0.35087 0.02667 0.51562 0.070312l-3.2227 3.2227a1 1 0 0 0 0 1.4141 1 1 0 0 0 1.4141 0l3.2227-3.2227c0.043642 0.16476 0.070312 0.33677 0.070312 0.51562v2h2v-2c0-2.216-1.784-4-4-4h-2z" />
            </svg>
        </a>
        <div class="w-input --flex" style="grid-area: searchbar;">
            <svg class="w-icon" width="16" height="16" style="--size: 1rem;" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 16 16" fill="currentColor">
                <path d="m10 7a3 3 0 0 1-3 3 3 3 0 0 1-3-3 3 3 0 0 1 3-3 3 3 0 0 1 3 3zm-3-5a5 5 0 0 0-5 5 5 5 0 0 0 5 5 5 5 0 0 0 2.7539-0.83203l2.5391 2.5391c0.39052 0.39052 1.0235 0.39052 1.4141 0 0.39052-0.39052 0.39052-1.0235 0-1.4141l-2.5391-2.5391a5 5 0 0 0 0.83203-2.7539 5 5 0 0 0-5-5z" fill-rule="evenodd" />
            </svg>
            <input type="text" placeholder="Search..." />
            <footer class="w-dropdown type-list">
                <div>
                    Searches for
                    <em>
                        packs by default
                    </em>
                </div>
                <div>
                    <b>
                        @
                    </b>
                    To search for
                    <em>
                        users
                    </em>
                    and
                    <em>
                        teams
                    </em>
                </div>
                <div>
                    <b>
                        #
                    </b>
                    To search for
                    <em>
                        bundles
                    </em>
                </div>
            </footer>
        </div>
        <a class="w-unmarked-link on-highlight" href style="grid-area: inbox;">
            Inbox
            <svg class="w-icon a-hide-content a-show-tablet" width="16" height="16" style="--size: 1rem;" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 16 16" fill="currentColor">
                <path d="m7 0.0019531v2.0996c-2.2746 0.46688-4 2.4912-4 4.8984v1 1.5293l-0.93164 1.0039a0.87297 0.87297 0 0 0 0.64062 1.4668h10.705a0.82843 0.82843 0 0 0 0.58594-1.4141l-1-1v-1.5859-0.11914c-0.32021 0.08441-0.65574 0.12891-1 0.12891s-0.67979-0.044496-1-0.12891v0.11914 2h-6v-2-1c0-1.6687 1.3313-3 3-3 0.0024798-0.99489 0.38196-1.9115 1-2.6152v-1.3828h-2zm5 2.0078a2 2 0 0 0-2 2 2 2 0 0 0 2 2 2 2 0 0 0 2-2 2 2 0 0 0-2-2zm-6 11.99a2 2 0 0 0 1 1.7324 2 2 0 0 0 2 0 2 2 0 0 0 1-1.7324h-4z" />
            </svg>
        </a>
        <a class="w-button type-accent" href style="grid-area: profile;">
            <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 16 16" fill="currentColor">
                <path d="m14 15c0 0.55228-0.44772 1-1 1s-1-0.44772-1-1v-3c0-0.554-0.446-1-1-1h-6c-0.554 0-1 0.446-1 1v3c0 0.55228-0.44772 1-1 1s-1-0.44772-1-1v-3c0-1.662 1.338-3 3-3h6c1.662 0 3 1.338 3 3zm-4-11a2 2 0 0 1-2 2 2 2 0 0 1-2-2 2 2 0 0 1 2-2 2 2 0 0 1 2 2zm2 0a4 4 0 0 1-4 4 4 4 0 0 1-4-4 4 4 0 0 1 4-4 4 4 0 0 1 4 4z" fill-rule="evenodd" />
            </svg>
            Log in
        </a>
    </header>
    <!-- ... -->
    <main>
        <section class="l-heading --centered width-content">
            <h1>
                Welcome!
            </h1>
            <p>
                Smithed is an open-source platform for exploring, sharing
                <br />
                and supercharging minecraft data & resource packs.
            </p>
        </section>
        <section class="l-grid type-2 width-content">
            <section class="w-landing-carousell">
                <div id="js-carousell-1" data-i="1">
                    {{ range .Cards }} {{ template "pack_card" .Trending }} {{ end }}
                </div>
            </section>
            <section class="w-landing-carousell">
                <div id="js-carousell-2" data-i="1">
                    {{ range .Cards }} {{ template "pack_card" .Newest }} {{ end }}
                </div>
            </section>
        </section>
        <section class="l-separator width-content">
            <hr class="type-soft" />
            What is Smithed exactly?
            <hr class="type-soft" />
        </section>
        <section class="l-grid type-2 width-content">
            <a class="w-landing-card" href="https://smithed.net/discord">
                <header>
                    <svg class="w-icon" width="16" height="16" style="--size: 1.5rem;" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 16 16" fill="currentColor">
                        <path d="m8 0.58594-7.707 7.707c-0.39052 0.39052-0.39052 1.0235 0 1.4141 0.39052 0.39052 1.0235 0.39052 1.4141 0l0.29297-0.29297v3.5859c0 1.662 1.338 3 3 3h6c1.662 0 3-1.338 3-3v-3.5859l0.29297 0.29297c0.39052 0.39052 1.0235 0.39052 1.4141 0 0.39052-0.39052 0.39052-1.0235 0-1.4141l-7.707-7.707zm0 2.8281 4 4v5.5859c0 0.554-0.446 1-1 1h-6c-0.554 0-1-0.446-1-1v-5.5859l4-4z" fill-rule="evenodd" />
                    </svg>
                    <h2 class="on-highlight --flex">
                        Discord
                    </h2>
                    <span class="a-hide-min">
                        Join
                        <svg class="w-icon" width="16" height="16" style="--size: 1rem;" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 16 16" fill="currentColor">
                            <path d="m6 2c-2.216 0-4 1.784-4 4v4c0 2.216 1.784 4 4 4h4c2.216 0 4-1.784 4-4h-2c0 1.108-0.892 2-2 2h-4c-1.108 0-2-0.892-2-2v-4c0-1.108 0.892-2 2-2v-2zm2 0v2h2c0.17886 0 0.35087 0.02667 0.51562 0.070312l-3.2227 3.2227a1 1 0 0 0 0 1.4141 1 1 0 0 0 1.4141 0l3.2227-3.2227c0.043642 0.16476 0.070312 0.33677 0.070312 0.51562v2h2v-2c0-2.216-1.784-4-4-4h-2z" />
                        </svg>
                    </span>
                </header>
                <p>
                    Smithed is a community of people passionate about data & resource packs. We host various related events, develop libraries and hang out!
                </p>
            </a>
            <a class="w-landing-card" href="/browse">
                <header>
                    <svg class="w-icon" width="16" height="16" style="--size: 1.5rem;" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 16 16" fill="currentColor">
                        <path d="m7 0a2 2 0 00-2 2h-2c-1.662 0-3 1.338-3 3v8c0 1.662 1.338 3 3 3h8c1.662 0 3-1.338 3-3v-2a2 2 0 002-2 2 2 0 00-2-2v-2c0-1.662-1.338-3-3-3h-2a2 2 0 00-2-2zm-4 4h8c.554 0 1 .446 1 1v8c0 .554-.446 1-1 1h-2a2 2 0 00-2-2 2 2 0 00-2 2h-2c-.554 0-1-.446-1-1v-2a2 2 0 002-2 2 2 0 00-2-2v-2c0-.554.446-1 1-1z" fill-rule="evenodd" />
                    </svg>
                    <h2 class="on-highlight --flex">
                        Packs
                    </h2>
                    <span class="a-hide-min">
                        Browse
                        <svg class="w-icon" width="16" height="16" style="--size: 1rem;" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 16 16" fill="currentColor">
                            <path d="m10 7a3 3 0 0 1-3 3 3 3 0 0 1-3-3 3 3 0 0 1 3-3 3 3 0 0 1 3 3zm-3-5a5 5 0 0 0-5 5 5 5 0 0 0 5 5 5 5 0 0 0 2.7539-0.83203l2.5391 2.5391c0.39052 0.39052 1.0235 0.39052 1.4141 0 0.39052-0.39052 0.39052-1.0235 0-1.4141l-2.5391-2.5391a5 5 0 0 0 0.83203-2.7539 5 5 0 0 0-5-5z" fill-rule="evenodd" />
                        </svg>
                    </span>
                </header>
                <p>
                    Create, share and browse data & resource packs. There are many tools to make the process simple and fast.
                </p>
            </a>
            <a class="w-landing-card" href="https://docs.smithed.dev/">
                <header>
                    <svg class="w-icon" width="16" height="16" style="--size: 1.5rem;" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 16 16" fill="currentColor">
                        <path d="m5.5 3c-.27614 0-.5.22386-.5.5v5.5h5v3.5c0 .27614.22386.5.5.5s.5-.22386.5-.5v-9.5zm8.5 2h-1v-1.5c0-.27614.22386-.5.5-.5s.5.22386.5.5zm-11.5 8c-.27614 0-.5-.22386-.5-.5v-1.5h6v2h-5.5zm.5-9.5c0-1.3807 1.1193-2.5 2.5-2.5h8c1.3807 0 2.5 1.1193 2.5 2.5v3.5h-3v5.5c0 1.3807-1.1193 2.5-2.5 2.5h-8c-1.3807 0-2.5-1.1193-2.5-2.5v-3.5h3v-5.5z" fill-rule="evenodd" />
                    </svg>
                    <h2 class="on-highlight --flex">
                        Docs
                    </h2>
                    <span class="a-hide-min">
                        Explore
                        <svg class="w-icon" width="16" height="16" style="--size: 1rem;" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 16 16" fill="currentColor">
                            <path d="m10 7a3 3 0 0 1-3 3 3 3 0 0 1-3-3 3 3 0 0 1 3-3 3 3 0 0 1 3 3zm-3-5a5 5 0 0 0-5 5 5 5 0 0 0 5 5 5 5 0 0 0 2.7539-0.83203l2.5391 2.5391c0.39052 0.39052 1.0235 0.39052 1.4141 0 0.39052-0.39052 0.39052-1.0235 0-1.4141l-2.5391-2.5391a5 5 0 0 0 0.83203-2.7539 5 5 0 0 0-5-5z" fill-rule="evenodd" />
                        </svg>
                    </span>
                </header>
                <p>
                    Your all-in-one guide to the Smithed ecosystem. Whether you're a seasoned pack developer or just starting out, Smithed has something to offer.
                </p>
            </a>
            <a class="w-landing-card" href="https://weld.smithed.dev/">
                <header>
                    <svg class="w-icon" width="16" height="16" style="--size: 1.5rem;" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 16 16" fill="currentColor">
                        <path d="m11 2c1.662 0 3 1.338 3 3v2h1c0.554 0 1 0.446 1 1s-0.446 1-1 1h-1v2c0 1.662-1.338 3-3 3-0.55228 0-1-0.44772-1-1s0.44772-1 1-1c0.554 0 1-0.446 1-1v-6c0-0.554-0.446-1-1-1-0.55228 0-1-0.44772-1-1s0.44772-1 1-1zm-6 0c-1.662 0-3 1.338-3 3v2h-1c-0.554 0-1 0.446-1 1s0.446 1 1 1h1v2c0 1.662 1.338 3 3 3 0.55228 0 1-0.44772 1-1s-0.44772-1-1-1c-0.554 0-1-0.446-1-1v-6c0-0.554 0.446-1 1-1 0.55228 0 1-0.44772 1-1s-0.44772-1-1-1z" />
                    </svg>
                    <h2 class="on-highlight --flex">
                        Weld
                    </h2>
                    <span class="a-hide-min">
                        Try it
                        <svg class="w-icon" width="16" height="16" style="--size: 1rem;" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 16 16" fill="currentColor">
                            <path d="m6 2c-2.216 0-4 1.784-4 4v4c0 2.216 1.784 4 4 4h4c2.216 0 4-1.784 4-4h-2c0 1.108-0.892 2-2 2h-4c-1.108 0-2-0.892-2-2v-4c0-1.108 0.892-2 2-2v-2zm2 0v2h2c0.17886 0 0.35087 0.02667 0.51562 0.070312l-3.2227 3.2227a1 1 0 0 0 0 1.4141 1 1 0 0 0 1.4141 0l3.2227-3.2227c0.043642 0.16476 0.070312 0.33677 0.070312 0.51562v2h2v-2c0-2.216-1.784-4-4-4h-2z" />
                        </svg>
                    </span>
                </header>
                <p>
                    The fastest pack merger in the west. Merge all your data and resource packs into a single zip easily droppable into any world or minecraft instance.
                </p>
            </a>
        </section>
    </main>
    <!-- ... -->
    <footer class="--centered">
        <div>
            <section>
                <h2>
                    ABOUT
                </h2>
                <a class="w-unmarked-link on-highlight" href>
                    About Smithed
                </a>
                <a class="w-unmarked-link on-highlight" href>
                    How to Contribute
                </a>
                <a class="w-unmarked-link on-highlight" href>
                    Donate
                </a>
            </section>
            <section>
                <h2>
                    COMMUNITY
                </h2>
                <a class="w-unmarked-link on-highlight" href>
                    Discord
                </a>
                <a class="w-unmarked-link on-highlight" href>
                    Guidelines
                </a>
                <a class="w-unmarked-link on-highlight" href>
                    Wiki
                </a>
            </section>
            <section>
                <h2>
                    LEGAL
                </h2>
                <a class="w-unmarked-link on-highlight" href>
                    Terms of Use
                </a>
                <a class="w-unmarked-link on-highlight" href>
                    Privacy Policy
                </a>
                <a class="w-unmarked-link on-highlight" href>
                    Cookies
                </a>
            </section>
        </div>
        <section>
            <b>
                Copyright © 2018-2025 Smithed
            </b>
            <p>
                <em>
                    Not an official Minecraft product. Not approved by or associated with Mojang Studios
                </em>
            </p>
        </section>
    </footer>
</body>

</html>
{{ end }}
