{{ define "index" }}
<pkg:root :title="Browse" :searchbar="false">
    <pkg:l-heading class="%s --centered width-content">
        <h1>Browse packs</h1>
    </pkg:l-heading>

    <pkg:l-with-sidebar class="%s width-wide">
        <section class="l-col type-sections" id="browse_packs" hx-get="/htmx/browse_packs" hx-trigger="reload"
            hx-target="#packs" hx-swap="innerHTML">
            <header class="l-row">
                <pkg:searchbar class="%s --flex" />
                <pkg:select :id="sort" :icon="eyecons/sort">
                    <option value="trending">Trending</option>
                    <option value="downloads">Downloads</option>
                    <option value="alphabetically">Alphabetically</option>
                    <option value="newest">Newest</option>
                </pkg:select>
            </header>
            <div id="packs" class="l-inherit on-loading">
                {{ template "browse_packs" . }}
            </div>
        </section>

        <aside>
            <div>
                <b>Categories</b>
            </div>
            <section class="l-graph">
                {{ range .Categories }}
                <div>
                    <pkg:icon :icon="eyecons/radio-unchecked" class="%s type-indicator" />
                    <pkg:filter :label="{{ . }}" class="%s --flex">
                        {{ . }}
                    </pkg:filter>
                </div>
                {{ end }}
            </section>
        </aside>
    </pkg:l-with-sidebar>
</pkg:root>
{{ end }}
