<div id="w-select-[[ .id ]]" class="w-select" onload="loadSelectWidget(this)">
    <template>
        <button data-id="">
            <span class="is-flex">-</span>
            <mend:include src="../icons/radio-unchecked.svg" @class="js-unchecked" />
            <mend:include src="../icons/radio-checked.svg" @class="js-checked" @style="display: none;" />
        </button>
    </template>
    <select style="position: absolute; left: -42069rem; top: -42069rem;" onchange="changeSelectWidget(this)">
        <mend:slot />
    </select>
    <button onclick="toggleSelectWidget(this.parentElement.dataset.index)">
        <mend:include src="../icons/sort.svg" />
        <span class="js-selected is-flex">—</span>
        <mend:include src="../icons/angle_down.svg" @class="is-indicator" />
    </button>
    <footer class="js-options" style="visibility: hidden;">

    </footer>
</div>
<script>
    loadSelectWidget(document.getElementById("w-select-[[ .id ]]"));
</script>
