<a class="o-card" href="https://smithed.net/packs/{{ .Id }}">
    <header>
        <mend:include src="../components/icons/picture-placeholder.svg" @style="--size: 2rem;" />
        {{ if .HasGallery }}
        <img src="https://api.smithed.dev/v2/packs/{{ .Uid }}/gallery/0" alt="" onerror="this.remove()"
            onload="this.previousElementSibling.remove();" />
        {{ end }}
    </header>
    <section>
        <section class="o-metadata">
            <span>{{ .Versions }}</span>
            {{ range .Categories }}
            <hr class="type-bullet" />
            <span>{{ . }}</span>
            {{ end }}
        </section>
        <div>
            <h3>{{ .Name }}</h3>
            <p>
                {{ .Desc }}
            </p>
        </div>
        <section class="o-metadata">
            <mend:include src="../components/icons/heart-outline.svg" @class="o-rating type-positive"
                @style="--size: 0.75rem;" />
            <span class="o-rating type-positive">Mostly positive (69)</span>
            <hr class="type-bullet" />
            <mend:include src="../components/icons/download.svg" @style="--size: 0.75rem;" />
            <span>{{ .Downloads }}</span>
            <hr class="type-bullet" />
            <mend:include src="../components/icons/refresh.svg" @style="--size: 0.75rem;" />
            <span>{{ .Updated }}</span>
        </section>
    </section>
    <footer>
        {{ if eq .Label "trending" }}
        <span class="o-label type-trending">
            <mend:include src="../components/icons/globe.svg" @style="--size: 0.75rem" />
            <span>TRENDING</span>
        </span>
        {{ else }}
        <span class="o-label type-new">
            <mend:include src="../components/icons/clock.svg" @style="--size: 0.75rem" />
            <span>NEW</span>
        </span>
        {{ end }}
    </footer>
</a>
