{{ define "pack_card" }}
<a class="w-card" href="https://smithed.net/packs/{{ .Id }}">
    <header>
        <mend:include :src="../components/icon.html" :icon="eyecons/picture-placeholder" :size="2" />
        {{ if .HasGallery }}
        <img src="https://api.smithed.dev/v2/packs/{{ .Uid }}/gallery/0" alt="" onerror="this.remove()"
            onload="this.previousElementSibling.remove();" />
        {{ end }}
    </header>
    <section>
        <section class="o-metadata">
            {{ if eq .VersionFrom .VersionTo }}
            <span>{{ .VersionFrom }}</span>
            {{ else }}
            <span>{{ .VersionFrom }} — {{ .VersionTo }}</span>
            {{ end }}
            {{ range .Categories }}
            <hr class="type-bullet" />
            <span>{{ . }}</span>
            {{ end }}
        </section>
        <div>
            <h3 class="on-highlight">{{ .Name }}</h3>
            <p class="o-description">
                {{ .Desc }}
            </p>
        </div>
        <section class="o-metadata">
            <mend:include :src="../components/icon.html" :icon="eyecons/heart-outline" :size="0.75"
                class="%s o-rating type-positive" />
            <span class="o-rating type-positive">Mostly positive (69)</span>
            <hr class="type-bullet" />
            <mend:include :src="../components/icon.html" :icon="eyecons/download" :size="0.75" />
            <span>{{ .Downloads }}</span>
            <hr class="type-bullet" />
            <mend:include :src="../components/icon.html" :icon="eyecons/refresh" :size="0.75" />
            <span>{{ .Updated }}</span>
        </section>
    </section>
    <footer>
        {{ if eq .Label "trending" }}
        <span class="o-label type-trending">
            <mend:include :src="../components/icon.html" :icon="eyecons/globe" :size="0.75" />
            <span>TRENDING</span>
        </span>
        {{ else }}
        <span class="o-label type-new">
            <mend:include :src="../components/icon.html" :icon="eyecons/clock" :size="0.75" />
            <span>NEW</span>
        </span>
        {{ end }}
    </footer>
</a>
{{ end }}
